.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
}

.container > * {
    margin: .5rem 0;
}

#gameInfo {
    display: flex;
    justify-content: space-between;
}

#game {
    display: flex;
    flex-flow: column;
    background-color: forestgreen;
    cursor: url("./assets/hammer32.png"), auto;
    overflow: hidden;
    padding-top: 35px;
}

#game .row {
    display: flex;
    /* use space-around in IE */
    justify-content: space-around;
    justify-content: space-evenly;
    background-color: forestgreen;
}

#game .row:nth-child(1) {
    z-index: 1;
}
#game .row:nth-child(2) {
    z-index: 5;
}
#game .row:nth-child(3) {
    z-index: 10;
}

.hole {
    position: relative;
    height: 100px;
    width: 100px;
}

.mole {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./assets/mole.png");
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    z-index: 3;

    transform: translateY(2rem);
    transition: all 1s ease;
}

.hole-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}

.hole-foreground {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100px;
    height: 100px;
    /*Webkit, old syntax*/
    background: -webkit-radial-gradient(50% 0, circle, transparent 50%, forestgreen 50%);
    /*IE10+, FireFox, Opera*/
    background: radial-gradient(circle at 50% 0, transparent 50%, forestgreen 50%);
}

/*For use with #gameState*/
.show {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    margin: .25rem;
    padding: .75rem .5rem;
    border-radius: 5%;
}
button:focus {
    outline: 3px solid rgba(0, 0, 0, 0.25);
}

#controls {
    display: flex;
    justify-content: center;
}

#startBtn {
    background-color: forestgreen;
    opacity: 100%;
    color: #fff;
}

#pauseBtn {
    background-color: red; 
    opacity: 100%;
    color: #fff;
}

#resetBtn {
    background-color: goldenrod;
    color: #fff;
}

.disabled {
    opacity: 50% !important;
}

